.button{
    border:none;
    outline:none;
    padding-inline: 1.15rem;
    padding-block: 1rem;
    border-radius: .75rem;
    cursor:pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(230, 0, 69);
        color: white;
    }

    &:active{
        transform: scale(0.9);
    }
}

button{
    border:none;
    outline:none;
    padding-inline: 1.15rem;
    padding-block: 1rem;
    border-radius: .75rem;
    cursor:pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(230, 0, 69);
        color: white;
    }

    &:active{
        transform: scale(0.9);
    }
}